img {
  width: 70vw;
  height: auto;
}

h2 {
  font-size: 1.8rem;
  color: #45458b;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
}

@media (min-width: 800px) {
  img {
    width: 30vw;
    height: auto;
  }
}
