section {
  margin-top: 4em;
}

.destination-container {
  border: solid 0.2rem #45458b;
  margin: 1rem;
}

.destination-container:hover {
  border: solid 0.2rem #646cff;
  background-color: white;
}

.link {
  color: #45458b;
}

.p-destination {
  font-size: 1rem;
  font-weight: bold;
}

p {
  font-size: 0.9rem;
  color: #213547;
}
