* {
  margin: 0px;
}

.form-container {
  border: solid #45458b 2px;
  border-radius: 5px;
  margin-top: 1rem;
}

.write-review-container {
  background-color: #fce397;
  margin: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: #dedcff;
  margin: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  align-items: center;
}

.submit-button {
  width: 150px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #45458b;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 0.5rem;
  background-color: #fce397;
  border: solid 0.2rem white;
}

label {
  font-size: 0.9rem;
}

textarea {
  min-height: 100px;
}

.form-input-field {
  display: flex;
  align-items: flex-start;
}
