header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: 100vw;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #fce397;
  margin: 0px;
}

h1 {
  flex: 1 1 0;
  min-width: 0;
  margin: 0;
  text-align: left;
  font-size: 1.2rem;
  color: #45458b;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
}

nav {
  display: flex;
  flex: 0 0 auto;
  min-width: 0;
  gap: 1rem;
  font-size: 1rem;
  margin-right: 0.8rem;
}

@media (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #fce397;
  }

  h1 {
    font-size: 1.8rem;
    color: #45458b;
    text-transform: uppercase;
    letter-spacing: 1rem;
  }

  nav {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
  }
}
